
{% render 'partials/head.liquid' pageTitle: "{{thisstation}}" style:thisstation stylesheet: "radio"%}

{% render 'partials/popup.liquid' upcomingShow: upcomingShow %}

{% comment %} <pre>{{ thisWeekShows | json | replace: ',', ",\n" | replace: '{', "{\n" | replace: '}', "\n}" }}</pre> {% endcomment %}
{% comment %} Start of Chat GPT Code [Calc percentage of minutes pased] {% endcomment %}
{% assign curTime = "now" | date: "%H:%M", "Europe/Amsterdam"%}
{% assign curHours = curTime | split: ":" | first %}
{% assign curMinutes = curTime | split: ":" | last %}
{% assign curTimeInMinutes = curHours | times: 60 | plus: curMinutes %}
{% assign totalMinutesInDay = 1440 %}

{% assign percentageGone = curTimeInMinutes | divided_by: totalMinutesInDay | times: 100 %}
{% comment %} End of Chat GPT Code {% endcomment %}
<body class="deejays-{{thisstation}}">
    {% render 'partials/header.liquid' v: "o" thisstation: thisstation stationNameGenerated: stationNameGenerated %}{% comment %} Version : Other {% endcomment %}
    <main class="radio-station">
        <div class="part-sticky top-wrapper">
            
            <nav class="sticky-menu sticky-menu-bottom day-menu">            
                <ul>
                    {% comment %} Modulo i found out because of chat {% endcomment %}
                    {% for i in (0..7) %}
                        <li>   
                            {% assign index = forloop.index0 %}   
                            {% assign index2 = forloop.index | plus: 2 %}
                            
                            {% assign dayIndex = index | plus: 1 | modulo: 7 %} <!-- Ensures values loop back after Sunday -->
                            
                            <a 
                            {% if dayIndex == today %}
                            class="active"  
                            {% endif %}
                            
                            href="/radio/{{ stationNameGeneratedEncoded }}/programmering/{{ dayNames[dayIndex] }}"> 
                                {{ dayNames[dayIndex] }}
                                <b>{{ thisWeek[index].day }}</b>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        {% if upcomingShow %}
            <button popovertarget="my-popover">Open popup</button>
        {% endif %}
        <div class="overview-shows">
            <h1 class="text-xl">Programmering van {{stationNameGenerated}}<br>{{todayName}} </h1> 
            <div class="timeline-wrapper">
                <div class="current-time" style="top: calc({{ percentageGone }}%);">
                {% comment %} Rode balk op huidige tijd
                 
                ik zat te denken aan een calc met huidige tijd (huidige minuut na 00:00 / aantal minuten in een dag * 100%) en die in een css variabele zetten inline
                en dan absolute stylen met left: calc(var(--current-time) * 100%)
                
                {% endcomment %}


                
                </div>
                <div class="timeline">
                    {% for i in (0..24) %} {% comment %} 24 hours {% endcomment %}
                        {% if i == 24 %}
                            <div class="hour hour-end" data-content="00:00">
                                <div class="dots"></div>
                            </div>
                        {% else %}
                            <div class="hour"data-content="{{i}}:00">
                                <div class="dots"></div>
                            </div>
                            
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="show-wrapper">
                {% comment %} offset moet het nummer van de dagnummer zijn {% endcomment %}
                {% for todayshows in thisWeekShows offset:0 limit:1 %}
                    {% for oneshow in todayshows.shows %}
                        {% comment %} Start of ChatGPT Code {% endcomment %}
                        {% assign start_time = oneshow.from | date: "%H:%M", "Europe/Amsterdam" | strip | split: ":" %}
                        {% assign end_time = oneshow.until | date: "%H:%M", "Europe/Amsterdam" | strip | split: ":" %}

                        {% assign start_hours = start_time[0] | times: 60 %}
                        {% assign start_minutes = start_time[1] | plus: start_hours %}
                        {% assign end_hours = end_time[0] | times: 60 %}
                        {% assign end_minutes = end_time[1] | plus: end_hours %}

                        {% assign time_difference = end_minutes | minus: start_minutes %}
                        {% assign hour_difference = end_time[0] | minus: start_time[0] %}


                        {% assign start_time_per = start_minutes | divided_by: totalMinutesInDay | times: 100 %}
                        {% assign end_time_per = end_minutes | divided_by: totalMinutesInDay | times: 100 %}

                        {% if start_time_per <= percentageGone and percentageGone < end_time_per %}
                            {% assign extra_class_percentage = "active-show" %}
                        {% else %}
                            {% assign extra_class_percentage = "" %}
                        {% endif %}


                        {% comment %} End of ChatGPT Code {% endcomment %}
                        {% comment %} https://shopify.dev/docs/api/liquid/objects/forloop {% endcomment %}
                        
                        {% if forloop.index == 1 %}
                            {% assign firstoffset = start_time[0] | split: ":00" | first | times: 60 | divided_by: 1440 | times: 100 %}
                            {% comment %} this and then / 1440 * 100 {% endcomment %}
                            {% if firstoffset > 0 %}
                                <div class="card-fill" style="min-height: {{firstoffset}}%; max-height: {{firstoffset}}%; margin-bottom: 10px;">
                               
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if time_difference < 121 %}
                            {% assign extra-class = "short-show" %}
                            {% if time_difference < 61%}
                                {% assign extra-class = "very-short-show" %}
                            {% endif %}
                        {% else %}
                            {% assign extra-class = "long-show" %}
                        {% endif %}
                        
                        <article class="card-show {{extra-class}} {{extra_class_percentage}} card-show-{{ forloop.index }}" data-hours="{{hour_difference}}" style="min-height: calc(({{ time_difference }} / 1440 * 100%) - 10px); max-height: calc(({{ time_difference }} / 1440 * 100%) - 10px); margin-bottom: 10px; --sibling-count: {{forloop.index}}">
                            <div class="show-data">
                                <picture>
                                    <source srcset="https://fdnd-agency.directus.app/assets/{{oneshow.headermobile.id}}?format=avif" type="image/avif">
                                    <source srcset="https://fdnd-agency.directus.app/assets/{{oneshow.headermobile.id}}?format=webp" type="image/webp">
                                    <img src="https://fdnd-agency.directus.app/assets/{{oneshow.headermobile.id}}"  alt="Foto van {{oneshow.name }}" class="deejay-image" width="{{ oneshow.headermobile.width }}" height="{{oneshow.headermobile.height}}">
                                </picture>
                                <div class="show-details">
                                    <h3 class="text-l">{{oneshow.name}}</h3>
                                    <dl>
                                        <dt class="show-time">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                                <path d="M6.66667 0C2.99333 0 0 2.99333 0 6.66667C0 10.34 2.99333 13.3333 6.66667 13.3333C10.34 13.3333 13.3333 10.34 13.3333 6.66667C13.3333 2.99333 10.34 0 6.66667 0ZM6.66667 12C3.72667 12 1.33333 9.60667 1.33333 6.66667C1.33333 3.72667 3.72667 1.33333 6.66667 1.33333C9.60667 1.33333 12 3.72667 12 6.66667C12 9.60667 9.60667 12 6.66667 12Z" fill="#8B8B8B"/>
                                                <path d="M7.33333 3H6V7.27333L8.86 10.14L9.80667 9.19333L7.33333 6.72667V3Z" fill="#8B8B8B"/>
                                            </svg>
                                        </dt>
                                        <dd class="show-time"><time datetime="{{oneshow.from}}">{{oneshow.from}}</time> - <time datetime="{{oneshow.until}}">{{oneshow.until}}</time></dd>

                                        <dt class="show-deejay">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                                <path d="M6.00033 6.66667C7.84033 6.66667 9.33366 5.17333 9.33366 3.33333C9.33366 1.49333 7.84033 0 6.00033 0C4.16033 0 2.66699 1.49333 2.66699 3.33333C2.66699 5.17333 4.16033 6.66667 6.00033 6.66667ZM6.00033 1.33333C7.10033 1.33333 8.00033 2.23333 8.00033 3.33333C8.00033 4.43333 7.10033 5.33333 6.00033 5.33333C4.90033 5.33333 4.00033 4.43333 4.00033 3.33333C4.00033 2.23333 4.90033 1.33333 6.00033 1.33333Z" fill="#8B8B8B"/>
                                                <path d="M0 8V12.6667H12V8H0ZM10.6667 11.3333H1.33333V9.33333H10.6667V11.3333Z" fill="#8B8B8B"/>
                                            </svg>
                                        </dt>
                                        <dd class="show-deejay">{{oneshow.users[0].mh_users_id.full_name}}</dd>
                                    </dl class="show-deejay">
                                </div>
                            </div>
                            <div class="show-buttons">

                                <form method="post" class="form-bookmark" action="/radio/{{stationNameGeneratedEncoded}}/programmering/{{oneshow.id}}/bookmark">
                                    <button type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                            <path d="M11.0834 3.5C11.0834 2.5335 10.2999 1.75 9.33341 1.75H4.66675C3.70022 1.75 2.91675 2.5335 2.91675 3.5V11.6998C2.91675 12.1743 3.45307 12.4503 3.83911 12.1745L6.66106 10.1589C6.86387 10.014 7.13629 10.014 7.33911 10.1589L10.161 12.1745C10.5471 12.4503 11.0834 12.1743 11.0834 11.6998V3.5Z" stroke="white" stroke-width="2"/>
                                        </svg>
                                        Bookmark
                                    </button>
                                </form>
                                <a href="/" class="button">MEER</a>
                            </div>
                            
                        </article> 
                        <style>
                            @media (min-width: 1200px) {
                                .current-time{
                                    left: calc({{ percentageGone }}%) !important;
                                    top: 50% !important;
                                    translate: 0 -50%;
                                }
                                .current-time::after{
                                    left: 50% !important;
                                    position: absolute !important;
                                    content: '' !important;
                                    width: 1px !important;
                                    background-color: #B60150 !important;
                                    background-color: var(--color-secondary) !important;
                                    height: 260px !important;
                                    top: 0 !important;
                                    transform: translateX(-50%) !important;
                                }
                                .card-show-{{ forloop.index }} {
                                    /* Apply the same dynamic Liquid values for height, now horizontally */
                                    min-width: calc(({{ time_difference }} / 1440 * 100%) - 10px);
                                    max-width: calc(({{ time_difference }} / 1440 * 100%) - 10px);
                                    margin-bottom: 0 !important;
                                    margin-right: 10px !important;
                                    min-height: 0 !important;
                                    max-height: initial !important;
                                }
                                .card-fill{
                                    min-width: {{firstoffset}}% !important;
                                    max-width: {{firstoffset}}% !important;
                                    margin-left: 10px !important;
                                    min-height: 0 !important;
                                    max-height: initial !important;
                                }
                            }
                        </style>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>

    </main>
{%  render 'partials/footer.liquid' thisstation: thisstation, stationName: stationNameGenerated v: "o" %}

</body>